<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta charset="UTF-8">
  <title>Layer7-Bloock</title>
  <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'><link rel="stylesheet" href="../public/stylesheets/admin.css">

</head>
<body>
<div class="container">
  <div class="drawer">
    <a class="navicon" href="#"><i class="icon ion-navicon"></i></a>
    <div class="menu">
      <a data-menu="dashboard" href="#" class="active"><i class="icon ion-home"></i></a>
      <a data-menu="users" href="#"><i class="icon ion-person-stalker"></i></a>
    </div>
    <span class="credits">Layer7</span>
  </div>
  <div class="content">

    <div class="page active" data-page="dashboard">
      <div class="header">
        <div class="title">
          <h2>헌혈증 추가</h2>
        </div>
      </div>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>이름</th>
              <th>닉네임</th>
              <th>이메일</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td>김개똥</td>
              <td>개똥이</td>
              <td>gaeddong@gmail.com</td>
              <td>
                <input type="text" id="cnt" name="cnt" vlaue="" class="form-control">
                <button type="submit" class="edit-button">추가</button>
              </td>
            </tr>
            <%= for(var i=0; i< user.length; i++) { %>
              <tr>
                <td><%= user[i].name %></td>
                <td><%= user[i].id %></td>
                <td><%= user[i].address %></td>
                <td>
                  <input type="text" id="cnt<%= i %>" name="cnt" vlaue="" class="form-control">
                  <button type="submit" class="edit-button">추가</button>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

<!--
    <div class="page noflex" data-page="users">
      <div class="header">
        <div class="title">
          <h2>Users</h2>
        </div>
      </div>
      <div class="grid">
        <div class="user-edit">
          <div class="header">
            <span class="icon">
              <i class="icon ion-person"></i>
            </span>
            <span class="user-edit-name">$_USERNAME</span>
            <a href="#" class="close"><i class="icon ion-close-round"></i></a>
          </div>
        </div>
        <div class="users-table">
          <div class="users-item header">
            <div class="table-item noflex">
              ID
            </div>
            <div class="table-item">
              Email Address
            </div>
            <div class="table-item">
              Username
            </div>
            <div class="table-item">
              Nickname
            </div>
            <div class="table-item">
              Active
            </div>
            <div class="table-item">
              Premium
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
