<!DOCTYPE html>
<html lang="ko">

<!--<META HTTP-EQUIV="refresh" CONTENT="1">-->

<head>
    <%- include('head') %>
    <title>블록체인 헌혈 :: 메인</title>
    <link rel="stylesheet" href="/public/stylesheets/slide.css">
    <script src="/public/scripts/index.js" defer></script>
</head>

<body>
    <!-- z-index: 100 -->
    <div class="doodle-container doodle-header">
        <css-doodle grid="8">
            :doodle {
            size: 100vmax;
            background: #b7141a;
            overflow: hidden;
            }
            clip-path: @shape(bean);
            background: hsla(
            calc(300 + 3 * @index()), 75%, 100%, @rand(.8)
            );
            transition: .2s ease @rand(300ms);
            transform:
            scale(@rand(.2, 1.5))
            translate3d(
            @rand(-50%, 50%),
            @rand(-50%, 50%),
            0
            )
            rotate(@rand(0deg, 360deg));
        </css-doodle>
    </div>
    <!-- z-index: 200 -->
    <div id="left-header">
        <div id="header-paper">
            <div class="cover">
                <div class="small-phrases"><%= "name" %>님의 헌혈증은</div>
                <h1 class="big-phrases align-center"><%= "9" %>개</h1>
                <div class="small-phrases align-right">입니다</div>
            </div>
        </div>
    </div>







    <div id="index-main-contents">


        <div id="blood-donation-list" class="flexY">
            <div id="slide">
                <input type="radio" name="pos" id="pos1" checked>
                <input type="radio" name="pos" id="pos2">
                <input type="radio" name="pos" id="pos3">
                <input type="radio" name="pos" id="pos4">
                <ul>
                    <li class="slide-page">
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : 방성훈<br><br>
                                생년월일 : 20010205<br><br>
                                헌혈종류 : 전혈400ml
                            </div>
                            <div class="deed-right">
                                성별 : 남<br><br>
                                헌혈일자 : 20190720<br><br>
                                고유번호 : 333
                            </div>
                        </div>
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : 방성훈<br><br>
                                생년월일 : 20010205<br><br>
                                헌혈종류 : 전혈400ml
                            </div>
                            <div class="deed-right">
                                성별 : 남<br><br>
                                헌혈일자 : 20190720<br><br>
                                고유번호 : 333
                            </div>
                        </div>
                        <div class="blood-donation-item">

                        </div>
                        <div class="blood-donation-item">

                        </div>
                        <div class="blood-donation-item">

                        </div>
                        <div class="blood-donation-item">

                        </div>

                        <% if (헌혈증.length <= 6) { %>
                        <% for (let i = 0; i < "헌혈증.length"; i++) { %>

                        <div class="blood-donation-item">

                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : <%= "헌혈증[i].이름" %><br><br>
                                생년월일 : <%= "헌혈증[i].생년월일" %><br><br>
                                헌혈종류 : <%= "헌혈증[i].헌혈종류" %>
                            </div>
                            <div class="deed-right">
                                성별 : <%= "헌혈증[i].성별" %><br><br>
                                헌혈일자 : <%= "헌혈증[i].헌혈일자" %><br><br>
                                고유번호 : <%= "헌혈증[i].고유번호" %>
                            </div>

                        </div>
                        <% } %>
                        <% } else { %>
                        <% for (let i = 0; i < 6; i++) { %>
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : <%= "헌혈증[i].이름" %><br><br>
                                생년월일 : <%= "헌혈증[i].생년월일" %><br><br>
                                헌혈종류 : <%= "헌혈증[i].헌혈종류" %>
                            </div>
                            <div class="deed-right">
                                성별 : <%= "헌혈증[i].성별" %><br><br>
                                헌혈일자 : <%= "헌혈증[i].헌혈일자" %><br><br>
                                고유번호 : <%= "헌혈증[i].고유번호" %>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                    </li>



                    <li class="slide-page">
                        <% if (헌혈증.length <= 12) { %>
                        <% for (let i = 6; i < "헌혈증.length"; i++) { %>
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : <%= "헌혈증[i].이름" %><br><br>
                                생년월일 : <%= "헌혈증[i].생년월일" %><br><br>
                                헌혈종류 : <%= "헌혈증[i].헌혈종류" %>
                            </div>
                            <div class="deed-right">
                                성별 : <%= "헌혈증[i].성별" %><br><br>
                                헌혈일자 : <%= "헌혈증[i].헌혈일자" %><br><br>
                                고유번호 : <%= "헌혈증[i].고유번호" %>
                            </div>
                        </div>
                        <% } %>
                        <% } else { %>
                        <% for (let i = 6; i < 12; i++) { %>
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : <%= "헌혈증[i].이름" %><br><br>
                                생년월일 : <%= "헌혈증[i].생년월일" %><br><br>
                                헌혈종류 : <%= "헌혈증[i].헌혈종류" %>
                            </div>
                            <div class="deed-right">
                                성별 : <%= "헌혈증[i].성별" %><br><br>
                                헌혈일자 : <%= "헌혈증[i].헌혈일자" %><br><br>
                                고유번호 : <%= "헌혈증[i].고유번호" %>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                    </li>



                    <li class="slide-page">
                        <% if (헌혈증.length <= 18) { %>
                        <% for (let i = 12; i < "헌혈증.length"; i++) { %>
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : <%= "헌혈증[i].이름" %><br><br>
                                생년월일 : <%= "헌혈증[i].생년월일" %><br><br>
                                헌혈종류 : <%= "헌혈증[i].헌혈종류" %>
                            </div>
                            <div class="deed-right">
                                성별 : <%= "헌혈증[i].성별" %><br><br>
                                헌혈일자 : <%= "헌혈증[i].헌혈일자" %><br><br>
                                고유번호 : <%= "헌혈증[i].고유번호" %>
                            </div>
                        </div>
                        <% } %>
                        <% } else { %>
                        <% for (let i = 12; i < 18; i++) { %>
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : <%= "헌혈증[i].이름" %><br><br>
                                생년월일 : <%= "헌혈증[i].생년월일" %><br><br>
                                헌혈종류 : <%= "헌혈증[i].헌혈종류" %>
                            </div>
                            <div class="deed-right">
                                성별 : <%= "헌혈증[i].성별" %><br><br>
                                헌혈일자 : <%= "헌혈증[i].헌혈일자" %><br><br>
                                고유번호 : <%= "헌혈증[i].고유번호" %>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                    </li>



                    <li class="slide-page">
                        <% if (헌혈증.length <= 24) { %>
                        <% for (let i = 18; i < "헌혈증.length"; i++) { %>
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : <%= "헌혈증[i].이름" %><br><br>
                                생년월일 : <%= "헌혈증[i].생년월일" %><br><br>
                                헌혈종류 : <%= "헌혈증[i].헌혈종류" %>
                            </div>
                            <div class="deed-right">
                                성별 : <%= "헌혈증[i].성별" %><br><br>
                                헌혈일자 : <%= "헌혈증[i].헌혈일자" %><br><br>
                                고유번호 : <%= "헌혈증[i].고유번호" %>
                            </div>
                        </div>
                        <% } %>
                        <% } else { %>
                        <% for (let i = 18; i < 24; i++) { %>
                        <div class="blood-donation-item">
                            <div class="deed-title">헌혈증서</div>
                            <hr>
                            <div class="deed-left">
                                성명 : <%= "헌혈증[i].이름" %><br><br>
                                생년월일 : <%= "헌혈증[i].생년월일" %><br><br>
                                헌혈종류 : <%= "헌혈증[i].헌혈종류" %>
                            </div>
                            <div class="deed-right">
                                성별 : <%= "헌혈증[i].성별" %><br><br>
                                헌혈일자 : <%= "헌혈증[i].헌혈일자" %><br><br>
                                고유번호 : <%= "헌혈증[i].고유번호" %>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                    </li>
                </ul>

                <p class="pos">
                    <label for="pos1"></label>
                    <label for="pos2"></label>
                    <label for="pos3"></label>
                    <label for="pos4"></label>
                </p>
            </div>
        </div>

        <div id="donate-blood-donation">
            <div class="slide_box">
                <div></div>

                <div class="slide_line">April 28. 2019</div>

                <h2 class="slide_center_text">"복동이의 삶에 다시 뜬, 햇빛이 되어주세요!"</h2>
                <br>
                <div class="slide_image"></div>
                <div class="slide_text">


                    하지만 일본 최고의 선수들을 제치고 조선인 최초로 우승을 차지한 엄복동의 등장으로 일본의 계략은 실패로 돌아가고, 계속되는 무패행진으로 ‘민족 영웅’으로 떠오른 그의 존재에 조선
                    전역은 들끓기
                    시작한다.

                    때맞춰 애국단의 활약까지 거세지자 위기감을 느낀 일본은 엄복동의 우승을 막고 조선인들의 사기를 꺾기 위해 최후의 자전차 대회를 개최하는데...

                    일제강점기, 그 어느 때보다 뜨거웠던 한일전이 시작된다!
                    술 한잔 마셨습니다...
                    영화가 잘 안되도 좋습니다. 하지만 엄복동 하나만 기억해주세요 진심을 다해 전합니다.
                    영화가 별로 일수있습니다 밤낮으로 고민하고 연기 했습니다 ...
                    최선을 다했고 열심히 했습니다 저의 진심이 느껴지길 바랍니다 고맙습니다...

                </div>
                <button type="button" id="myBtn" class="slide_button">기부하기</button>

            </div>
            <!-- 이부분 fatch로 작성 -->
            <!-- <input type="number" max="<%= 헌혈증.length + 1 %>" name="donateBloodDonation" oninput="maxLengthCheck(this)"> -->
            <!-- 이거 직접 입력하면 제대로 안먹힘 -->
            <!-- <input type="button" value="기부하기"> -->
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
                <h1>정말로 기부하시겠습니까?</h1>
                <form action="" method="POST">
                <p>
                    기부할 헌혈증의 개수를 입력하세요
                </p>
                <div class="md-form-control">
                    <input id="aaaaaaaaaaaaa" name="aaaaaaaaaaaaa" type="number" class="md-input-text" max="<%= 헌혈증.length %>"/>
                    <label for="aaaaaaaaaaaaa">개수</label>
                    <span class="md-input-text-bar"></span>
                </div>
                <button type="submit" class="button-submit cursor-pointer btn material-design" data-color="#ffffff">기부하기</button>
            </form>
        </div>

    </div>


    <div id="토스트">최대 개수보다 많습니다</div>

</body>

</html>