<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta charset="UTF-8">
  <title>Layer7-Bloock</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'><link rel="stylesheet" href="/public/stylesheets/style.css">

</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
<!-- partial:index.partial.html -->
<!-- /// JUMBOTRON \\\ -->
<div class="jumbotron cd-intro">
  <div class="container cd-intro-content mask">
    <div class="hr animated fadeIn">
      <b><h1 style="padding-bottom: 10vh; font-size: 6rem" data-content="BLOOCK"><span>BLOOCK.</span></h1></b>
      <hr>
    </div>

    <h1 data-content="당신의 블록체인 헌혈증 입니다."><span>당신의 블록체인 헌혈증 입니다.</span></h1>

    <div class="action-wrapper">
      <p>
        <a href="#packages" style="text-decoration: none; color: white;" class="cd-btn main-action" role="button">헌혈증 보기</a>
        <a href="https://www.bloodinfo.net/blood_house.do" class="cd-btn" id="btn-purchase" target="_blank" role="button">근처 헌혈의 집 찾기</a>
      </p>
    </div>
  </div>
</div>
<!-- /// END JUMBOTRON \\\ -->

<!-- /// TICKET PACKAGES \\\ -->
<div class="container-fluid wrapper-packages">
  <section class="packages" id="packages">
    <div class="row">

      <div class="col-md-6 leafs-package">
        <h1 class="text-center">사용하지 않은 헌혈증</h1>
        <table>
          <thead class="table-header">
            <tr>
              <th class="date">헌혈일자</th>
              <th class="team">헌혈종류</th>
              <th class="time">이름</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i=0; i< Math.min(5, bloodCerts.length);i++){ %>
              <% if(bloodCerts[i].used) continue; %>
              <% var nowTime = new Date(Number(bloodCerts[i].donateDate)) %>
              <% var month = nowTime.getMonth() + 1 %>
              <% var day = nowTime.getDate() %>
              <% var year = nowTime.getFullYear() %>
              <tr>
                <td class="date"><%= year + "-" + month + "-" + day %></td>
                <td class="team"><%= bloodCerts[i].kind %></td>
                <td class="time"><%= bloodCerts[i].name %></td>
              </tr>
            <% } %>
        </table>
        <ul class="pagination justify-content-center">
          <li class="page-item disabled"><a class="page-link" style="margin-right:5px;" href="#">모두 보기</a></li>
        </ul>
      </div>

      <div class="col-md-6 leafs-package">
        <h1 class="text-center">기부한 헌혈증</h1>
        <table>

          <thead class="table-header">
            <tr>
              <th class="date">헌혈일자</th>
              <th class="team">헌혈종류</th>
              <th class="time">이름</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i=0; i< Math.min(5, bloodCerts.length);i++){ %>
              <% if(!bloodCerts[i].used) continue; %>
              <% var nowTime = new Date(Number(bloodCerts[i].donateDate)) %>
              <% var month = nowTime.getMonth() + 1 %>
              <% var day = nowTime.getDate() %>
              <% var year = nowTime.getFullYear() %>
              <tr>
                <td class="date"><%= year + "-" + month + "-" + day %></td>
                <td class="team"><%= bloodCerts[i].kind %></td>
                <td class="time"><%= bloodCerts[i].name %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <ul class="pagination justify-content-center">
          <li class="page-item disabled"><a class="page-link" style="margin-right:5px;" href="#">모두 보기</a></li>
        </ul>
      </div>

  </section>
</div>
<!-- /// END TICKET PACKAGES \\\ -->

<!-- /// MARLIES PACKAGES \\\ -->
<section class="marlies-package">
  <div class="container">
    <h3 class="text-center wow fadeIn" data-wow-delay=".5s">헌혈증이 필요해요!!</h3>
    <table class="table table-hover table-striped text-center" data-wow-delay=".5s" style="border: 1px solid;">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>글쓴이</th>
        </tr>
      </thead>
      <% for(var i = (page-1) * 5; i < Math.min(page*5, board.length); i++) { %>
      	<tbody>
      		<tr>
      			<td><%= i + 1 %></td>
      			<td style = "cursor:pointer;" onClick = "location.href='../api/board/' + '<%= board.length - i %>' " onMouseOver = "window.status='http://naver.com'" onMouseOut = "window.status=''"><%= board[i].title %></td>
      			<td><%= board[i].name %></td>
      		</tr>
      	</tbody>
      <% } %>
    </table>
    <ul class="pagination justify-content-center">
    	<% for(var i = 1; i <= board.length/5+1; i++) { %>
    		<% if(i==page) { %>
    			<li class="page-item active"><a class="page-link" style="margin-right:5px;" href="#"><%= i %></a></li>
    		<% } else { %>
      			<li class="page-item"><a class="page-link" style="margin-right:5px;" href="/index/<%= i %>"><%= i %></a></li>
      	<% } %>
      <% } %>
    </ul>
    <a href="/write" class="btn btn-outline-info float-right">글쓰기</a>
  </div>
</section>
<!-- /// END MARLIES PACKAGES \\\ -->

<div class="break"></div>

<!-- /// CALL TO ACTION \\\ -->
<section class="text-center">

  <div class="cta" id="cta">
    <h2><small>지금까지 총</small> 1,652,132,780 <small>명이 블록체인 헌혈증을 사용하고 있습니다.</small></h2><br>
    <a style="text-decoration: none; color: white;" href="" class="cta-btn wow fadeInDown" data-wow-delay="1s" data-wipe="카카오톡 플러스 친구 추가하기" target="_blank" role="button">카카오톡 플러스 친구 추가하기</a>
  </div>

</section>
<!-- /// END CALL TO ACTION \\\ -->

<footer>
    <p class="text-center"><a href="http://layer7.kr" style="color:aliceblue; opacity: 0.7;" target="_blank">&copy; Team Layer7</a></p>
</footer>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js'></script>
<script src="/public/scripts/script.js"></script>
</body>
</html>
